<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-3">
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-control mb-3" %>

    <%= form.label :content, class: "form-label" %>
    <%= form.rich_text_area :content, class: "form-control mb-5" %>
  </div>

  <div>
    <%= form.button "POST", type: :submit, class: "btn btn-primary" %>
  </div>
<% end %>
