<%# Greeting section %>

<%= render 'layouts/greeting' %>

<%# BLOG section %>
<p class="h1 mt-2 mb-5">Blogs</p>

<% if Blog.count == 0 %>

<div class="contaier mb-5">
  <div id="blogs">
    <div class="card card-effect w-100 mb-5">
      <div class="card-body d-flex justify-content-between">
        <p class="card-text me-3">当ブログ「CampShare」はキャンプ・アウトドア関係の商品レビューや、キャンプで役立つ小ネタ、キャンプ飯のレシピを中心としたブログです。キャンプ体験を投稿してね！</p>
        <p class="ml-5"><%= link_to "Show", "#" ,  class: "btn btn-success mt-2"%></p>
      </div>
    </div>
  </div>
</div>

<% end %>

<% if Blog.count > 0 %>

<div class="contaier">
  <div id="blogs">
    <% @blogs.each do |blog| %>
    <div class="row">
      <div class="col ">
        <div class="card card-effect w-100">
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">
              Blog Title:　<%= blog.title %><br><br>
              <%= link_to "by #{blog.user.name}", user_path(blog.user) %>
            </h5>
              <p class="ml-5"><%= link_to "Show", blog ,  class: "btn btn-success mt-2"%></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% end %>