<div class="container text-center mb-5">
  <p class="h2 text-decoration-underline mb-2"><%= @blog.title %></p>
  <p class="h3 text-decoration-underline">
    <%= link_to "by #{@blog.user.name}", "#" %>
  </p>
</div>

<% if current_user == @blog.user%>
<div class="container mt-3 mb3 ">
  <div class="row justify-content-center">
    <div class="col-md-1">
      <%= link_to "編集", edit_blog_path(@blog), class: "btn btn-outline-primary" %>
    </div>
    <div class="col-md-1">
      <%= button_to "削除", @blog, method: :delete ,  class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
<% end %>

<div class="container mb-3">
  <p class="h3 mb-5">
    Content:
  </p>
  <%= @blog.content %>
</div>

<div class="container mb-5">
  <% if user_signed_in? %>
    <%= form_with(model: [@blog, @comment], local: true) do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "5", class: "form-control mb-3" %>
      <%= form.submit "SEND", class: "btn btn-outline-primary mb-3"  %>
    <% end %>
  <% else %>
    <strong><p class="mb-5">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
</div>

<div class="card mb-5" style="width: 100%;">
  <div class="card-body">
    <h3 class="card-title mb-3">コメント一覧</h3>
    <div class="container mb-5">
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "#" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>