<div class="container">
  <div class="gears-sell-main container">
    <h2 class="gears-sell-title">ギアの情報を入力</h2>
    <%= form_with model:@gear, url: gears_path, local: true do |f| %>

    <% if @gear.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@gear.errors.count, "error") %> prohibited this gear from being saved:</h2>
        <ul>
          <% @gear.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# ギア画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ギア画像
        <span class="badge text-bg-danger">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"gear-image" %>
      </div>
    </div>
    <%# /ギア画像 %>
    <%# ギア名とギア説明 %>
    <div class="new-gears">
      <div class="weight-bold-text">
        ギア名
        <span class="badge text-bg-danger">必須</span>
      </div>
      <%= f.text_area :name, class:"gears-text", id:"gear-name", placeholder:"ギア名（必須 40文字まで)", maxlength:"40" %>
      <div class="gears-explain">
        <div class="weight-bold-text">
          ギアの説明
          <span class="badge text-bg-danger">必須</span>
        </div>
        <%= f.rich_text_area :info, class: "gear-text form-control mb-5", id:"gear-info", placeholder:"ギアの説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）(追加写真も複数枚添付可能)"  %>
      </div>
    </div>
    <%# /ギア名とギア説明 %>

    <%# ギアの詳細 %>
    <div class="gears-detail container row mb-5">
      <div class="weight-bold-text col-6">ギアの詳細</div>
      <div class="form col-6">
        <div class="weight-bold-text">
          カテゴリー
          <span class="badge text-bg-danger">必須</span>
        </div>
        <div class="me-5">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"gear-category"}) %>
        </div>
        <div class="weight-bold-text">
          ギアのブランド名
          <span class="badge text-bg-danger">必須</span>
        </div>
        <div class="me-5">
        <%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"select-box", id:"gear-brand"}) %>
        </div>
      </div>
    </div>
    <%# /ギアの詳細 %>

    <%# レンタル価格 %>
    <div class="sell-price mb-5">
      <div class="weight-bold-text question-text">
        <span>レンタル価格<br>日帰りプラン<br>(利用時間8:00~当日18:00まで)<br>(¥500〜100,000)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="badge text-bg-danger">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price_1, class:"price-input", id:"gear-price-1", placeholder:"例）500" %>
        </div>
        <div class="price-content">
          <span>レンタル手数料 (10%)</span>
          <span>
            <span id='add-tax-price-1'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>レンタル利益</span>
          <span>
            <span id='profit-1'></span>円
          </span>
        </div>
      </div>
    </div>

    <div class="sell-price mb-5">
      <div class="weight-bold-text question-text">
        <span>レンタル価格<br>1泊2日プラン<br>(利用時間8:00~翌日18:00まで)<br>(¥500〜100,000)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="badge text-bg-danger">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price_2, class:"price-input", id:"gear-price-2", placeholder:"例）500" %>
        </div>
        <div class="price-content">
          <span>レンタル手数料 (10%)</span>
          <span>
            <span id='add-tax-price-2'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>レンタル利益</span>
          <span>
            <span id='profit-2'></span>円
          </span>
        </div>
      </div>
    </div>

    <div class="sell-price mb-5">
      <div class="weight-bold-text question-text">
        <span>レンタル価格<br>2泊3日プラン<br>(利用時間8:00~翌々日18:00まで)<br>(¥500〜100,000)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="badge text-bg-danger">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price_3, class:"price-input", id:"gear-price-3", placeholder:"例）500" %>
        </div>
        <div class="price-content">
          <span>レンタル手数料 (10%)</span>
          <span>
            <span id='add-tax-price-3'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>レンタル利益</span>
          <span>
            <span id='profit-3'></span>円
          </span>
        </div>
      </div>
    </div>
    <%# /レンタル価格 %>

    <%# 下部ボタン %>
    <div class="container d-grid col-8 gap-4 mt-5">
      <%= f.submit "出品する", class:"btn btn-danger" %>
      <%=link_to 'もどる', root_path, class:"btn btn-primary" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>