<!DOCTYPE html>
<html>
  <head>
    <title>CampShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%# stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%# javascript_include_tag 'actiontext', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/dist/css/bootstrap-datepicker.min.css">
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg bg-dark border-bottom border-bottom-dark mb-5" data-bs-theme="dark">
      <div class="container-lg">
      <%= link_to "CampShare" , root_path , class:"navbar-brand text-white fs-2" %>
      <button class="navbar-toggler bg-body ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto my-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link active text-white", data: { turbo_method: :delete }%>
          </li>
          <li class="nav-item">
            <%= link_to "MyPage", user_path(current_user), class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "NewBlog", new_blog_path, class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "NewGear", new_gear_path, class: "nav-link active text-white" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link active text-white" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <div class="container-lg main mt-auto overflow-auto">

      <p style="color: green"><%= notice %></p>
      <%= yield %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <footer class="container-fluid footer text-center">
      <p class="copyright d-inline">Copyright © CampShare All rights reserved.</p><br>
      <%= link_to "プライバシーポリシー", privacy_policy_path, target: "_blank", class: "ms-2 text-primary d-inline" %>
    </footer>
  </body>
</html>
