<!DOCTYPE html>
<html>
  <head>
    <title>CampShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/dist/css/bootstrap-datepicker.min.css">
  </head>

  <body>
    <header class="header navbar-expand-lg navbar-light bg-dark py-3 sticky-top">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "CampShare" , root_path , class: :logo %>
          </div>
          <% if user_signed_in? %>
          <div class="nav__right">
            <%= link_to "ログアウト", destroy_user_session_path, class: :nav__logout , data: { turbo_method: :delete }%>
            <%= link_to "MyPage", user_path(current_user), class: :nav__btn %>
            <%= link_to "Home", root_path, class: :nav__btn %>
            <%= link_to "NewBlog", new_blog_path, class: :nav__btn %>
            <%= link_to "NewGear", new_gear_path, class: :nav__btn %>
          </div>
          <% else %>
          <div class="nav__right">
            <%= link_to "Home", root_path, class: :nav__btn %>
            <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
            <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
          </div>
          <% end %>
        </div>
      </div>
    </header>


    <div class="container-fluid main col-11 overflow-auto">

      <p style="color: green"><%= notice %></p>
      <%= yield %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <footer class="container-fluid footer text-center">
      <p class="copyright d-inline">Copyright © CampShare All rights reserved.</p>
      <%= link_to "プライバシーポリシーを読む", privacy_policy_path, target: "_blank", class: "ms-2 text-primary fw-semibold text-decoration-underline d-inline" %>
    </footer>
  </body>
</html>
